<div class="part"{% if block.number is not none and block.number is number %} data-part-number="{{ block.number }}"{% endif %}>
  <h2>{% if block.number is not none and block.number is number %}Part {{ block.number }}: {% endif %}{{ block.title }}{% if block.estimated_time %}<span class="time-estimate">{{ block.estimated_time }}</span>{% endif %}</h2>
{% if block.intro %}
  {{ block.intro | md }}
{% endif %}
</div>
