<div class="part">
  <h2>{% if block.number is not none and block.number is number %}Part {{ block.number }}: {% endif %}{{ block.title }}</h2>
{% if block.intro %}
  {{ block.intro | md }}
{% endif %}
</div>
