<div class="chapter-footer">
{% if chapter.footer %}
  <p><em>{{ chapter.footer | md_inline }}</em></p>
{% endif %}
  <p>Source on <a href="https://github.com/cloudxlab/learnbyinventing">GitHub</a> &middot; <a href="../index.html">Back to all chapters</a></p>
  <p>&copy; 2026 <a href="https://cloudxlab.com">CloudxLab</a>. All rights reserved.</p>
</div>
